<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.6.1/dist/paper.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/books.css') }}">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="row">
        <div class="login-container">
            <div class="login-title">
                <h1>
                    {% block header %}
                        
                    {% endblock header %}
                </h1>
            </div>
            <div>
                {% block body %}
                    
                {% endblock body %}
            </div>
        </div>
    </div>


</body>
{% block js %}
    
{% endblock js %}

</html>