{% extends 'layout/layout_content_page.html' %}

{% block page_title %}

Travel

{% endblock page_title %}

{% block story %}

<div class="title">
    August 30, 2019
</div>

<div class="sub_title">
    The first week in Northeastern University
</div>

<div class="story_content">
    <img class="story_img" src="{{ url_for('static', filename='img/neu_first_week/IMG_20190825_171950.jpg') }}" alt="">
    <p>I walked around the places I wanted to see, and my feet blistered.</p>
</div>

<div class="story_content">
    <img class="story_img" src="{{ url_for('static', filename='img/neu_first_week/IMG_20190826_132013.jpg') }}" alt="">
    <p>The university is in Boston. But I choose to live in Malden. 
        <br>
        The rent in around the university is soooo high</p>
</div>

<div class="story_content">
    <img class="story_img" src="{{ url_for('static', filename='img/neu_first_week/IMG_20190825_163735.jpg') }}" alt="">
    <p>I learned from CSSA that the first thing we need to do is to get a student card.
        <br>
        I took the airplane on August 24 and I went to university in the next day.
        <br>
        Guess what, I arrived here too early.
    </p>
</div>

<div class="story_content">
    <img class="story_img" src="{{ url_for('static', filename='img/neu_first_week/IMG_20190830_183309.jpg') }}" alt="">
    <p>
        Fortunately, the photos were taken very well</p>
</div>

<div class="story_content">
    <img class="story_img" src="{{ url_for('static', filename='img/neu_first_week/IMG_20190825_115749.jpg') }}" alt="">
    <p>
        The one brought to me by Senior Manager Lin Sheng is Vietnamese, and this restaurant is very popular nearby
        <br>
        My final choice is pork chop rice. This pork chop is a real pork chop with a circle of bones on the side.
        <br>
        U know what, Vietnamese food must mention nuoc-mam (fish sauce).
        <br>
        At first, I thought something was rot, and I asked how it smelled.
        <br>
        The thing in that small bowl is the nuoc-mam
    </p>
</div>

<div class="story_content">
    <img class="story_img" src="{{ url_for('static', filename='img/neu_first_week/IMG_20190825_121528.jpg') }}" alt="">
    <p>It is guuuuuuuud</p>
</div>
{% endblock story %}